
.css-46bh2p-MuiCardContent-root,.css-46bh2p-MuiCardContent-root:last-child{
    padding:0px !important;
    padding-bottom: 0px !important;
}
.cardLogo{
    bottom: 74%;
    right: 47%;
}
.cardBillAction .paid{
    font-size: 10px;
}