body{
  overflow: hidden !important;
}
.anotherHeight {
  /* margin-top: 10px; */
  /* align-items: center; */
  overflow: hidden;
}

.right_meun {
  height: calc(100vh - 150px) !important;
}

.left_bill_menu {
  width: 60% !important;
  background-color: #fff;
  height: calc(100vh - 125px) !important;
  overflow: hidden !important;
}
.MuiInputBase-inputAdornedStart.MuiInputBase-inputAdornedEnd{
  padding: 12px !important;
}
.css-1j0qgw8-MuiAutocomplete-root .MuiAutocomplete-inputRoot{
  padding: 2px !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  cursor: pointer;
}

ul li:hover {
  background-color: #f0f0f0;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 12px !important;
}
.css-3nmb8v-MuiInputBase-root .MuiInputBase-input {
  padding: 14px !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 3px !important;
}
.textBoxmUI .css-1v4ccyo .css-1x5jdmq {
  padding: 9px !important;
}
.autocompleteTxt .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon.css-1e9nr6u .MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-feqhe6  .css-1e9nr6u .MuiOutlinedInput-root {
  padding: 2px !important;
}
.autocompleteTxt .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1e9nr6u .MuiOutlinedInput-root {
  padding: 4px !important;
}
.verticle_divider {
  width: 1px !important;
  color: white !important;
  display: inline-block !important;
  height: 40px !important;
}

.autocompleteTxt .css-1j0qgw8-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding: 4px !important;
}
.paddinAnother{
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}
.autocompleteTxt .css-1tw9w9k-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 2px !important;
  padding-right: 24px !important;
}
.clicked {
  background-color: red !important;
  color: white;
}

.main_div {
  align-items: center;
}

.Billing_icon {
  font-size: 110px;
  color: gray;
}

.quantity_button {
  width: 30px !important;
  margin: 0px 5px 0px 5px;
  background-color: transparent;
}

.another_1 {
  background-color: gray !important;
}
.main_bill1{
  width: 100%;
  height: calc(100vh - 394px);
  overflow-y: auto;
  }
    .main_bill1Print {
      width: 100%;
      height: calc(100vh - 294px);
      overflow-y: auto;
    }
  .main_billError {
    width: 100%;
    height: calc(100vh - 414px);
    overflow-y: auto;
}
 .main_billErrorPrint{
   width: 100%;
   height: calc(100vh - 314px);
   overflow-y: auto;
 }

.itemBorder{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bill_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.billin_content{
  align-self: start !important;
}
.commentsDefault{
    white-space: nowrap; 
    width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.main_bill_icon {
  font-size: 23px  !important;
  width: 8%;
}

.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 3px !important;
}

.right_section{
  background-color: #fff;
}

.sarchTextTEST input{
  padding: 5px;
}

.discountPadding{
  padding-top: 5px;
}
.mobileNo{
  position: relative;
}

.suggestions{
  position: absolute;
  width: 32%;
  z-index: 999;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0px 5px 5px 5px ;
}
.suggestionBorder{
  border-bottom: 1px solid rgb(189, 186, 186);
}
.commentPopUp{
  background-color: #fff;
  width: 600px;
  /* height: 150px; */
  box-shadow: 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .06);
  padding: 10px 15px 10px 15px;
}
.upiPopUp {
  background-color: #fff;
  width: 300px;
  /* height: 150px; */
  box-shadow: 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .06);
  padding: 10px 15px 10px 15px;
}

.commentHeader{
font-size: 18px;
font-weight: 600;
}

.itemName:hover{
  text-decoration: underline;
  cursor: pointer;
}
.mobileNoError{
  border: 2px solid red;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  z-index: -1 !important;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.kotList{
  max-height: calc(100vh - 320px);
  overflow: scroll;
  /* scroll-behavior: smooth; */
}
.kotList::-webkit-scrollbar {
  display: none !important;
}

.printKotBtn{
  background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
  padding: 0px 4px 4px 4px;
  border-radius: 3px;
}
.editKotBtn {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 122, 255, 1) 0%, rgba(0, 156, 255, 1) 78%);
  padding: 0px 4px 4px 4px;
  border-radius: 3px;
}
.deleteKotBtn {
  background: linear-gradient(195deg, rgb(236, 64, 122), rgb(216, 27, 96));
  padding: 0px 4px 4px 4px;
  border-radius: 3px;
}

.printKotBtn:hover,
.editKotBtn:hover,
.deleteKotBtn:hover {
  transform: translateY(-1px);
  transition: transform 0.3s ease;
}