

.right_top_header {
  /* margin-top: 10px; */
  /* align-items: center; */
}

.right_meun {
  height: calc(100vh - 150px) !important;
}

.left_bill_menu {
  width: 60% !important;
  background-color: #fff;
  height: calc(100vh - 125px) !important;
  overflow: hidden !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  cursor: pointer;
}

ul li:hover {
  background-color: #f0f0f0;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 3px !important;
}

.verticle_divider {
  width: 1px !important;
  color: white !important;
  display: inline-block !important;
  height: 40px !important;
}

.autocompleteTxt .css-1j0qgw8-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding: 2px !important;
}
.autocompleteTxt .css-1tw9w9k-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 2px !important;
  padding-right: 24px !important;
}
.clicked {
  background-color: red !important;
  color: white;
}

.main_div {
  align-items: center;
}

.Billing_icon {
  font-size: 110px;
  color: gray;
}

.quantity_button {
  width: 30px !important;
  margin: 0px 5px 0px 5px;
  background-color: transparent;
}

.another_1 {
  background-color: gray !important;
}
.main_bill1{
  width: 100%;
  height: calc(100vh - 394px);
  overflow-y: auto;
  }
  .main_billError {
    width: 100%;
    height: calc(100vh - 414px);
    overflow-y: auto;
}
.itemBorder{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bill_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.billin_content{
  align-self: start !important;
}
.commentsDefault{
    white-space: nowrap; 
    width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.main_bill_icon {
  font-size: 23px  !important;
  width: 8%;
}

.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 3px !important;
}

.right_section{
  background-color: #fff;
}

.sarchTextTEST input{
  padding: 5px;
}

.discountPadding{
  padding-top: 5px;
}
.mobileNo{
  position: relative;
}

.suggestions{
  position: absolute;
  width: 32%;
  z-index: 999;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0px 5px 5px 5px ;
}
.suggestionBorder{
  border-bottom: 1px solid rgb(189, 186, 186);
}
.commentPopUp{
  background-color: #fff;
  width: 600px;
  /* height: 150px; */
  box-shadow: 0 .25rem .375rem -.0625rem rgba(0, 0, 0, .1), 0 .125rem .25rem -.0625rem rgba(0, 0, 0, .06);
  padding: 10px 15px 10px 15px;
}

.commentHeader{
font-size: 18px;
font-weight: 600;
}

.itemName:hover{
  text-decoration: underline;
  cursor: pointer;
}
.mobileNoError{
  border: 2px solid red;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

