body{
    width: 100%;
}
.left_header_icon{
    font-size: 25px;
}
.css-1orzy9s{
    height: 28px !important;
}
.css-1orzy9s{
    margin: 0 !important;
    border: 1px solid grey;
}
.css-1776fzg-MuiInputBase-root{
    height: 24px !important;
}
.css-1776fzg-MuiInputBase-root .MuiInputBase-input{
    font-size: 14px !important;
}
.css-i4bv87-MuiSvgIcon-root{
    font-size: 20px !important;
    color: grey !important;
}
.css-i4bv87-MuiSvgIcon-root{
    font-size: 25px !important;
    color: black !important;
}
.main_header{
    justify-items: center;
    align-items: center;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    margin-top: 8px;
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px;
}
.tabButton.active{
    border-bottom: 4px solid rgb(198, 7, 7);
}

.recentBillHeader{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.recentBillRow:hover{
    background-color: #e5e7eb;
}

.recentBillContainer{
    cursor: pointer;
}
.recentBillRow{
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.popoverSearch{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
}
.anotherSearch{
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
}
input:focus {
    outline: none;
}